:root {
  --branco: #FFF;
  --preto: #000;
  --cinza-escuro: #7F8487;
  --cinza-medio: #D0C9C0;
  --cinza-claro: #DFDFDE;
  --bege-claro: #F0EBE3;
  --amarelo: #FF9F29;
  --verde: #1A4D2E;
  --ibm: 'IBM Plex Mono', monospace;
  --roboto: 'Roboto', sans-serif;
}

.container {
  padding-left: 3%;
  padding-right: 3%;
}

main {
  font-family: var(--roboto);
}

.belowHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 5px solid rgba(208, 201, 192, 0.1);
  background: var(--preto);
}

.belowHeader-titulo {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--cinza-claro);
}

.belowHeader-texto {
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--cinza-medio);
}

.belowHeader-texto strong {
  font-weight: 700;
}

.botao {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.1rem;
  background: var(--amarelo);
  border: none;
  border-radius: 5px;
  box-shadow: var(--preto) 0px 1px 3px;
}

.hide {
  display: none;
}

@media screen and (min-width:768px) {
  .belowHeader {
    padding-left: calc((100% - 768px)/2);
    padding-right: calc((100% - 768px)/2);
  }
}

@media screen and (min-width:1024px) {
  .botao-fieldset {
    vertical-align: top;
    transition: 0.3s;
  }

  .botao-fieldset:hover {
    transform: scale(1.01);
  }

  .botao:active {
    background: var(--verde);
  }
}