:root {
  --branco: #FFF;
  --preto: #000;
  --cinza-escuro: #7F8487;
  --cinza-medio: #D0C9C0;
  --cinza-claro: #DFDFDE;
  --bege-claro: #F0EBE3;
  --amarelo: #FF9F29;
  --verde: #1A4D2E;
  --ibm: 'IBM Plex Mono', monospace;
  --roboto: 'Roboto', sans-serif;
}

.container {
  padding-left: 3%;
  padding-right: 3%;
}

main {
  font-family: var(--roboto);
}

.botao {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.1rem;
  background: var(--amarelo);
  border: none;
  border-radius: 5px;
  box-shadow: var(--preto) 0px 1px 3px;
}

.descrDesafio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--cinza-claro), var(--branco) 80%)
}

.descrDesafio-titulo {
  padding: 2rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.descrDesafio-texto {
  padding-bottom: 1rem;
  text-align: center;
  line-height: 1.5rem;
  border-bottom: 2px dashed var(--preto);
}

@media screen and (min-width:768px) {
  .descrDesafio {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
}

@media screen and (min-width:1024px) {
  .botao-fieldset {
    vertical-align: top;
    transition: 0.3s;
  }

  .botao-fieldset:hover {
    transform: scale(1.01);
  }

  .botao:active {
    background: var(--verde);
  }
}