:root {
  --branco: #FFF;
  --preto: #000;
  --cinza-escuro: #7F8487;
  --cinza-medio: #D0C9C0;
  --cinza-claro: #DFDFDE;
  --amarelo: #FF9F29;
  --bege-claro: #F0EBE3;
  --ibm: 'IBM Plex Mono', monospace;
  --roboto: 'Roboto', sans-serif;
}

.container {
  padding-left: 3%;
  padding-right: 3%;
}

main {
  font-family: var(--roboto);
}

.botao {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.1rem;
  background: var(--amarelo);
  border: 1px solid var(--amarelo);
  border-radius: 5px;
}