.desafios {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.desafios-titulo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--branco);
}

.desafios-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desafios-link {
  text-decoration: none;
}

.desafios-fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.desafios-img {
  width: 100vw;
  max-width: 550px;
  box-shadow: var(--preto) 0px 5px 15px;
}

.desafios-caption {
  color: var(--cinza-escuro);
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 1rem;
}

@media screen and (min-width:1024px) {
  .desafios-fig {
    transition: 0.3s;
  }

  .desafios-fig:hover {
    transform: scale(1.01);
  }

  .desafios-fig:hover .desafios-caption {
    color: var(--amarelo);
  }
}

@media screen and (min-width: 1280px) {
  .desafios-a {
    flex-direction: row;
    justify-content: space-around;
    padding-left: calc((100% - 2560px)/2);
    padding-right: calc((100% - 2560px)/2);
  }
}