.rodape {
  display: flex;
  flex-direction: column;
  font-family: var(--ibm);
  padding-top: 2rem;
  background: var(--cinza-claro);
}

.rodape-titulo {
  font-weight: 700;
  font-size: 1.3rem;
}

.rodape-subtitulo {
  font-size: 1.1rem;
}

.rodape nav ul {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape-itemNav {
  display: inline-block;
  margin: 0.5rem 1.5rem;
}

.rodape-itemNav a {
  text-decoration: none;
  color: var(--cinza-escuro);
}

.rodapeSocial {
  text-align: center;
}

.rodapeSocial-item {
  display: inline-block;
}

.rodape-imgs {
  width: 3rem;
  margin: 0 1rem;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  color: var(--cinza-escuro);
  margin: 1rem 0;
}

@media screen and (min-width:1024px) {
  .rodape {
    padding-left: calc((100% - 968px)/2);
    padding-right: calc((100% - 968px)/2);
  }

  .rodape-bloco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .rodape nav ul {
    flex-direction: row;
    justify-content: flex-start;
  }

  .rodape-itemNav {
    margin-left: 0;
    margin-right: 2.5rem;
  }
}