.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  background: var(--preto);
  font-family: var(--ibm);
}

.logoCabecalho {
  width: 60%;
  max-width: 268px;
  margin-bottom: 1rem;
}

.navList {
  text-align: center;
}

.itemNav {
  display: inline-block;
  margin: 0 1.85rem 1rem 1.85rem;
}

.itemNav a {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
  }

  .itemNav {
    transition: 0.3s;
  }

  .itemNav:hover {
    transform: scale(1.1);
  }

  .itemNav a:hover {
    color: var(--amarelo);
    text-decoration: underline;
    font-weight: 700;
  }
}